<li class="task">
    <input class="complete" type="checkbox" checked={{checked}}/>
    <input class="description" type="text" placeholder="Enter task description..." value={{description}}/>
    <button class="delete-button">Delete</button>
</li>